openapi: 3.2.0
info:
  title: Recharge Discounts API
  description: The Recharge API is a REST API (with a few RPC-style action endpoints) for building and operating subscription and recurring-billing commerce on top of Recharge.
  version: 2021-11
  contact:
    name: Recharge
    url: https://developer.rechargepayments.com
  termsOfService: https://getrecharge.com/legal
servers:
- url: https://api.rechargeapps.com
  description: Recharge API
security:
- apiToken: []
tags:
- name: Discounts
  description: Discount codes applied to checkouts, addresses, and charges.
paths:
  /discounts:
    get:
      operationId: listDiscounts
      tags:
      - Discounts
      summary: List discounts
      responses:
        '200':
          description: A list of discounts.
          content:
            application/json:
              schema:
                type: object
                properties:
                  discounts:
                    type: array
                    items:
                      $ref: '#/components/schemas/Discount'
    post:
      operationId: createDiscount
      tags:
      - Discounts
      summary: Create a discount
      responses:
        '201':
          description: The created discount.
  /discounts/{id}:
    parameters:
    - $ref: '#/components/parameters/Id'
    get:
      operationId: getDiscount
      tags:
      - Discounts
      summary: Retrieve a discount
      responses:
        '200':
          description: The requested discount.
    put:
      operationId: updateDiscount
      tags:
      - Discounts
      summary: Update a discount
      responses:
        '200':
          description: The updated discount.
    delete:
      operationId: deleteDiscount
      tags:
      - Discounts
      summary: Delete a discount
      responses:
        '204':
          description: The discount was deleted.
components:
  parameters:
    Id:
      name: id
      in: path
      required: true
      description: The unique identifier of the resource.
      schema:
        type: integer
        format: int64
  schemas:
    Discount:
      type: object
      properties:
        id:
          type: integer
          format: int64
        code:
          type: string
        value:
          type: string
        value_type:
          type: string
          enum:
          - percentage
          - fixed_amount
        status:
          type: string
          enum:
          - enabled
          - disabled
          - fully_disabled
  securitySchemes:
    apiToken:
      type: apiKey
      in: header
      name: X-Recharge-Access-Token
      description: Store API token generated in the Recharge merchant portal under Apps and integrations.
